.awsomeFeatureWrap-coursePage {
	background: #ffffff !important;
}
.awsomeFeatureWrap-coursePage .featurContainer .headerWrap h2 {
	color: #002347 !important;
}
.awsomeFeatureWrap-coursePage .featurContainer .headerWrap p {
	color: #7b838a !important;
}
